@{
    ViewBag.Title = "SoundTrackSongList";
	Layout = null;
}
@using hackathon.Models
@model List<hackathon.Models.Rtone.Song>

@if (Model != null)
{
	foreach (Rtone.Song song in Model)
	{
		<div>
			@Html.DisplayFor(modelItem => song.Artist)
			@Html.DisplayFor(modelItem => song.Title)
			@Html.DisplayFor(modelItem => song.PlayLink)
		</div>
	}
}
